extends ./layouts/master.pug

block title
	title GoSerbian

block manifestBrowserconfigFiles
	link(href='../manifest.json', rel='manifest')
	meta(name='msapplication-config' content='../browserconfig.xml')

block content


	include ./components/header.pug

	section.hero#home
		.container.container--hero
			.hero-info
				.hero-info__art
					img(src=require('images/map_hero.svg'), alt="")
				h1.hero-info__title Комплексная <span style="color: #324DDC;">помощь в&nbsp;релокации бизнеса</span> в Сербию
				.hero-info__desc Сопровождение от первичного аудита компании до получения ВНЖ сотрудниками при необходимости

				.hero-picture
					img(src=require('images/hero.svg') , alt="")

				.hero-info__btn-wrap
					a.btn(href="#ask") Получить консультацию



	section.advantages#advantages
		.container
			.advantages-row
				.advantages-item
					.advantages-item__pic
						img(src=require('images/advantages_1.png'), alt="")
					.advantages-item__name Консультации на<br> Русском языке
				.advantages-item
					.advantages-item__pic
						img(src=require('images/advantages_2.png'), alt="")
					.advantages-item__name Штат юристов, бухгалтеров,<br> HR-сециалистов
				.advantages-item
					.advantages-item__pic
						img(src=require('images/advantages_3.png'), alt="")
					.advantages-item__name Поэтапная оплата
				.advantages-item
					.advantages-item__pic
						img(src=require('images/advantages_4.png'), alt="")
					.advantages-item__name Помощь с открытием<br> офиса в Сербии


	section.we-help#help
		.container
			h2.section-title Поможем обустроить жизнь и запустить бизнес-проект в Белграде или другом регионе
			.important
				.important__icon
					img(src=require('images/info-icon.svg'), alt="")
				.important__text Самостоятельный путь дает колоссальный опыт, но занимает много времени и средств. Экономьте энергию на переезде, вкладывайте в развитие на месте.

			.we-help-cards
				a.we-help-card(href="")
					.we-help-card__top
						.we-help-card__name Финансы
						.we-help-card__icon
							include ../assets/images/card-pos.svg
					.we-help-card__bottom
						.we-help-card__text Откроем счет и карту для осуществления платежей и переводов, по миру или из/в РФ.

				a.we-help-card(href="")
					.we-help-card__top
						.we-help-card__name Бизнес
						.we-help-card__icon
							include ../assets/images/briefcase.svg
					.we-help-card__bottom
						.we-help-card__text Поможем зарегистрировать фирму, снять офис, найти персонал и выйти на рынок.

				a.we-help-card(href="")
					.we-help-card__top
						.we-help-card__name Релокация
						.we-help-card__icon
							include ../assets/images/routing.svg
					.we-help-card__bottom
						.we-help-card__text Проконсультируем по решению организационных вопросов, получению ВНЖ и других разрешений.


	section.full-power#power
		.container
			h2.section-title Действуйте в полную силу на территории государства, свободного от санкций
			.section-desc Переезд в Сербию — идеальное решение для тех, кто ищет способ продолжить полноценную жизнь без оглядки на ограничения. Релокация бизнеса с поддержкой специалистов — это гарантия быстрого доступа к следующим возможностям:
		.full-power-row-wrap
			.container
				.full-power-row
					.full-power-item
						.full-power-item__icon
							img(src=require('images/full-power-icon-1.svg'), alt="")
						.full-power-item__top
							.full-power-item__name IT-Компании
						.full-power-item__desc работа на мировой рынок с офисом, функционирующим в удаленном формате из России, или переездом всех сотрудников в Сербию.
					.full-power-item
						.full-power-item__icon
							img(src=require('images/full-power-icon-2.svg'), alt="")
						.full-power-item__top
							.full-power-item__name Импортеры
						.full-power-item__desc беспроблемная оплата счетов европейских партнеров для выстраивания логистики и поставки товаров в Россию через Сербию.
					.full-power-item
						.full-power-item__icon
							img(src=require('images/full-power-icon-3.svg'), alt="")
						.full-power-item__top
							.full-power-item__name Экспортеры
						.full-power-item__desc действующее представительство компании в Европе, имеющее возможность принимать платежи в валюте без ограничений по SWIFT.
			.full-power-row__bg
					img(src=require('images/full-power-bg.svg'), alt="")

	section.possibility
		.container
			.possibility__text Каждый из описанных вариантов <span>дает&nbsp;возможность</span> индивидуальному предпринимателю, собственнику бизнеса и его сотрудникам оформить документы на ВНЖ, а в будущем — претендовать на гражданство Сербии.
			.possibility__btn-wrap
				a.btn.btn--on-blue(href="#ask") Запросить консультацию

	section.reasons#reasons
		.container
			h2.section-title 8 причин выбрать Сербию для релокации
			.section-desc Ежегодно в Сербию релоцируют от 10 до 300 предприятий, переезжают тысячи обычных людей. Россиян Сербия привлекает по следующим причинам:
			.reasons-items
				.reasons-item
					.reasons-item__number
					.reasons-item__text Безвизовый въезд в страну на срок до 30 дней.
					.reasons-item__galka(data-aos="zoom-in")
				.reasons-item
					.reasons-item__number
					.reasons-item__text Невысокая стоимость товаров и услуг, при этом достойный уровень жизни.
					.reasons-item__galka(data-aos="zoom-in")
				.reasons-item
					.reasons-item__number
					.reasons-item__text Простота получения ВНЖ при покупке жилья или открытии ИП/бизнеса.
					.reasons-item__galka(data-aos="zoom-in")
				.reasons-item
					.reasons-item__number
					.reasons-item__text Высокий уровень безопасности по мировым меркам.
					.reasons-item__galka(data-aos="zoom-in")
				.reasons-item
					.reasons-item__number
					.reasons-item__text Одни из самых низких налогов в Европе — от 10% до 15%.
					.reasons-item__galka(data-aos="zoom-in")
				.reasons-item
					.reasons-item__number
					.reasons-item__text Простой для изучения язык, относящийся к славянской группе.
					.reasons-item__galka(data-aos="zoom-in")
				.reasons-item
					.reasons-item__number
					.reasons-item__text Бесплатное начальное образование, в том числе для детей с ВНЖ.
					.reasons-item__galka(data-aos="zoom-in")
				.reasons-item
					.reasons-item__number
					.reasons-item__text Приятный климат с мягкими зимами и жарким летом.
					.reasons-item__galka(data-aos="zoom-in")
				.reasons-item
					.reasons-item__number.reasons-item__number--icon
						img(src=require('images/reasons-gift.svg'), alt="")
					.reasons-item__text А еще Сербия очень гордая страна с жизнерадостными людьми и сытной едой
					.reasons-item__galka(data-aos="zoom-in")

	section.fullw-important
		.container
			.important.important--in-fw
				.important__icon
					img(src=require('images/info-icon.svg'), alt="")
				.important__text Кроме того, страна подала заявку на вступление в ЕС. Если она будет одобрена, сербский ВНЖ может стать «окном в Европу».

	//-section.we-help
		.container
			h2.section-title Порядок и условия сотрудничества
			.section-desc Заранее рассказываем о плане действий от старта до результата, держим вас в курсе происходящего и работаем по проверенной схеме:



	section.konsul#consult
		.container.konsul__container
			h2.section-title.konsul__title Консультируйтесь у единомышленников с&nbsp;опытом работы в Сербии от 5 лет
			.section-desc.konsul__desc Название компании — надежный помощник в вопросах связанных с обустройством жизни и предпринимательской деятельности в Сербии. В штате компании более 10 сотрудников — юристы, бухгалтеры, HR-специалисты. Треть из них в свое время также переехала из России. Знаем проблему изнутри и умеем решать ее в короткие сроки.
			.konsul__flex
				.konsul__item
					.konsul__number 3
					.konsul__text среднее время	<br>регистрации фирмы.
				.konsul__item
					.konsul__number 2
					.konsul__text средний срок <br>получения карты.
				.konsul__item
					.konsul__number 20
					.konsul__text средний срок <br>получения ВНЖ.
			.konsul__bottom Деловые знакомства и положительная репутация позволяют ускорить любой процесс и избежать бюрократических проволочек.

	section.ask-quest#ask
			.container.ask-quest__container
				.ask-quest__flex
					.ask-quest__img
					.ask-quest__content
						.ask-quest__title Задайте вопросы эксперту по Сербии
						.ask-quest__text начните процедуру релокации с бесплатной консультации
						form.ask-quest__form.form.form--vertical
							.form__input
								input(type="text" name="" placeholder="Ваше имя" required)
							.form__input
								input(type="text" name="" placeholder="+7 (000) 000-00-00" required)
							button.form__btn.btn(type="submit") Задать вопрос
