//- Master layout

doctype html
html(lang='ru')
	head

		//- Meta
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
		meta(http-equiv='X-UA-Compatible', content='ie=edge')

		meta(name='msapplication-TileColor', content='#0E0E0E')
		meta(name='theme-color', content='#0E0E0E')

		//- SEO

		//- Basic Seo
		block basicSeo
			meta(name='description' content='Помогаем получить ВНЖ, открыть и вести отчетность для предпринимателей и компани в Сербии. Перевозим сотрудников, помогаем с релокацией. Берем весь документооборот на себя. Ждем вас на Балканах!')
			//- meta(name='keywords', content='UradiTo, index, page')
			//- meta(name='author' content='')

		//- Twitter
		//- meta(name='twitter:card', content='summary')
		//- meta(name='twitter:site', content='')
		//- meta(name='twitter:image', content='')
		//- meta(name='twitter:description', content='')

		//- Facebook
		meta(property='og:title' content='GoBalkans – открой бизнес и релоцируйся в Сербию')
		meta(property='og:image' content='https://gobalkans.me'+require('images/ogimage.png'))
		meta(property='og:url' content='https://gobalkans.me')
		meta(property='og:description' content='Помогаем получить ВНЖ, открыть и вести отчетность для предпринимателей и компани в Сербии. Перевозим сотрудников, помогаем с релокацией. Берем весь документооборот на себя. Ждем вас на Балканах!')
		meta(property='og:type', content='website')


		//- Favicons
		link(rel='apple-touch-icon' sizes='180x180' href=require('images/favicons/apple-touch-icon.png'))
		link(rel='icon' type='image/png' sizes='32x32' href=require('images/favicons/favicon-32x32.png'))
		link(rel='icon' type='image/png' sizes='16x16' href=require('images/favicons/favicon-16x16.png'))
		link(rel='mask-icon' href=require('images/favicons/safari-pinned-tab.svg') color='#5bbad5')
		link(rel='shortcut icon', href=require('images/favicons/favicon.ico'))
		meta(name='msapplication-TileColor' content='#5bbad5')
		meta(name='theme-color' content='#ffffff')


		//- Title
		block title
			title GoBalkans – открой бизнес и релоцируйся в Сербию

		//- Manifest browserconfig files
		block manifestBrowserconfigFiles
			link(rel='manifest', href='./manifest.json', crossorigin)
			meta(name='msapplication-config' content='./browserconfig.xml')

	body

		.wrapper

			//- block content
			block content

			//- Footer
			include ../components/footer.pug

			//- Modal
			include ../components/_modal.pug

		//- block scripts
		block scripts

		script
