//- src/views/components/footer.pug

.footer
	.container.footer__container
		.footer__flex
			.footer__left
				.footer__logo
					img(src=require('images/footer-logo.svg'), alt="logo")
				.footer__title Закажите бесплатный аудит компании
				.footer__text Узнайте сколько времени займет релокация в вашем случае
			.footer__right
				.footer__text Заполни простую анкету и узнай точную стоимость открытия бизнеса / релокации"
				a.footer__btn.btn.btn--white.js-modal(href="javascript:;") Заказать бесплатный аудит

		.footer__flex
			.footer__left
				.footer__cols
					.footer__col#contacts
						.footer__col-title Соцсети
						.footer__col-content.footer__col-content--social
							.footer__social
								a(href="https://wa.me/381637736647" rel="nofollow" target="_blank")
									img(src=require('images/footer-wa.svg'), alt="russia")
									span Написать
							.footer__social
								a(href="https://t.me/gobalkans" rel="nofollow" target="_blank")
									img(src=require('images/footer-tg.svg'), alt="russia")
									span @GoSerbian
					.footer__col
						.footer__col-title Ссылки
						.footer__col-cotnent
							.footer__menu
								.footer__menu-item
									a(href="#home") Главная
								.footer__menu-item
									a(href="#help") Почему мы
								.footer__menu-item
									a(href="#reasons") Возможности
								.footer__menu-item
									a(href="#consult") Условия

			.footer__right
				.footer__countries
					.footer__country.f-country
						.f-country__flag
							img(src=require('images/emojione_flag-for-russia.svg'), alt="russia")
						.f-country__content
							.f-country__top
								.f-country__title Россия
								a.f-country__tel(href="tel:+74958594964") +74958594964
							.f-country__bottom Российская Федерация, г. Москва, <br>Павелецкая набережная 2с4, офис 210
					.footer__country.f-country
						.f-country__flag
							img(src=require('images/emojione_flag-for-serbia.svg'), alt="serbia")
						.f-country__content
							.f-country__top
								.f-country__title Сербия
								a.f-country__tel(href="tel:+381637736647") +381637736647
							.f-country__bottom Сербия, г. Белград, <br>Гаврила Принципа 43

.subfooter
	.subfooter__container.container
		.subfooter__flex
			.subfooter__menu
				a.subfooter__link(href="") Пользовательское соглашение
				a.subfooter__link(href="") Политика конфиденциальности

			a.subfooter__dev(href="" target="_blank" rel="nofollow")
				span Powered by
				img(src=require('images/dev-logo.svg'), alt="dev")

